<html>
    <head><title>index</title></head>
    <style>
        table{
        border-collapse: collapse;
        width: 770px; 
        height:220px;	
        /*自動斷行*/
        word-wrap: break-word;
        table-layout: fixed;
        margin-left:auto; 
        margin-right:auto;
        text-align: center;
       }
    </style>
    <body>
        <table border="2" >
            <tr>
                <td {{mapList[0]|safe}}>1</td>
                <td {{mapList[1]|safe}}>2</td>
                <td {{mapList[2]|safe}}>3</td>
            </tr>
            <tr>
                <td {{mapList[3]|safe}}>4</td>
                <td {{mapList[4]|safe}}>5</td>
                <td {{mapList[5]|safe}}>6</td>
            </tr>
        </table>
<p>玩家資訊：</p>
        {{user.getName()}}
        <br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp血量：{% for i in range(1, user.getBlood()+1) %}
        {{"＊"}}{% endfor %}
        <br>
        &nbsp&nbsp攻擊力：{% for i in range(1, user.getPower()+1) %}
        {{"★"}}{% endfor %}
        <br>
        &nbsp&nbsp防禦力：{% for i in range(1, user.getDefense()+1) %}
        {{"▲"}}{% endfor %}

<p>選擇動作：</p>
        <form method="POST">
            <input type="radio" value="up" name = "direction">
            <label for="">上</label>
            &nbsp
            <input type="radio" value="down" name = "direction">
            <label for="">下</label>
            &nbsp
            <input type="radio" value="left" name = "direction">
            <label for="">左</label>
            &nbsp
            <input type="radio" value="right" name = "direction">
            <label for="">右</label>
            &nbsp
            <input type="radio" value="no_move" name = "direction">
            <label for="">不動</label>

<p>選擇道具：</p>
            <input type="radio" value="狙擊槍" name = "tool" {% if 0 not in user.items %} disabled {% endif %}>
            <label for="">狙擊槍</label>
            &nbsp
            <input type="radio" value="特殊技能（技能卡片）" name = "tool" {% if user.usedCard %} disabled {% endif %}>
            <label for="">特殊技能（技能卡片）</label>
            &nbsp
            <input type="radio" value="醫療箱" name = "tool" {% if 1 not in user.items %} disabled {% endif %}>
            <label for="">醫療箱</label>
            <br>
            <br>
            <input type="submit" value="發動！">
            <button type="reset"> 清除 </button>
        </form>
    </body>
</html>